@page "/access"

<PageTitle>Access Control</PageTitle>

@using BMS.Data.Models
@using BMS.Services

<h3>Access Control</h3>

<hr />

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <div class="col">
        <div class="card border-dark h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Employees</h5>
                <p class="card-text"><small class="text-muted"><i>Manage Employees</i></small></p>
                <a href="" class="btn btn-primary mt-auto">Manage</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-dark h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Group Permissions</h5>
                <p class="card-text"><small class="text-muted"><i>Manage Group Permissions</i></small></p>
                <a href="" class="btn btn-primary mt-auto">Manage</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-dark h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Card readers</h5>
                <p class="card-text"><small class="text-muted"><i>Add/Remove Card readers</i></small></p>
                <a href="" class="btn btn-primary mt-auto">Manage</a>
            </div>
        </div>
    </div>
</div>

@code {

}
