@page "/"

<PageTitle>Index</PageTitle>

<h1>Building Management System</h1>

<i class="text-muted">Use menu buttons to access different modules of this app.</i>

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
