@page "/lighting"

<PageTitle>Lighting Control</PageTitle>

@using BMS.Data.Models
@using BMS.Services

<h3>Lighting Control</h3>

<hr />

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
    <div class="col">
        <div class="card border-dark h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">New schedule</h5>
                <p class="card-text"><small class="text-muted"><i>Create new lighting automation schedule</i></small></p>
                <a href="" class="btn btn-primary mt-auto">Select</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-dark h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Modify schedule</h5>
                <p class="card-text"><small class="text-muted"><i>Change settings of the existing schedule</i></small></p>
                <a href="" class="btn btn-primary mt-auto">Manage</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-dark h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">View schedules</h5>
                <p class="card-text"><small class="text-muted"><i>List all existing schedules</i></small></p>
                <a href="" class="btn btn-primary mt-auto">Manage</a>
            </div>
        </div>
    </div>
</div>

@code {

}
