@page "/maintenance"

<PageTitle>Maintenance Requests</PageTitle>

@using BMS.Data.Models
@using BMS.Services

<h3>Maintenance Requests</h3>

<hr />

<div class="row row-cols-1 row-cols-sm-2 g-4">
    <div class="col">
        <div class="card border-dark h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">New request</h5>
                <p class="card-text"><small class="text-muted"><i>Create new lighting automation schedule</i></small></p>
                <a href="" class="btn btn-primary mt-auto">Select</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-dark h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">View requests</h5>
                <p class="card-text"><small class="text-muted"><i>List all unresolved requests</i></small></p>
                <a href="" class="btn btn-primary mt-auto">Manage</a>
            </div>
        </div>
    </div>
</div>

@code {

}
